<div class="col-xs-12 col-sm-3 ">
  <div class="card card-about-me" style="margin-top: 100px;margin-bottom: 50px;">
    <div class="header ml20 mt20 mr20 mb20">
      <h2>DÉTAILS USER</h2>
    </div>
    <div class="body">
      <ul style="list-style: none">
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">person</i>
            Nom
          </div>
          <div class="content mt20" style="color: gray;border-bottom: 1px solid  #E6E6FA;
          padding-bottom: 10px;
          margin-bottom: 10px;">
            {{ detailsUser.nom }}
          </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">person</i>
            Prénom
          </div>
          <div class="content mt20" style="color: gray;border-bottom: 1px solid  #E6E6FA;
          padding-bottom: 10px;
          margin-bottom: 10px;">
            {{detailsUser.prenom}} </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">email</i>
            Email
          </div>
          <div class="content mt20" style="color: gray;border-bottom: 1px solid  #E6E6FA;
          padding-bottom: 10px;
          margin-bottom: 10px;">{{ detailsUser.email }}
          </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">phone</i>
            Numéro de téléphone
          </div>
          <div class="content mt20" style="color: gray;border-bottom: 1px solid  #E6E6FA;
          padding-bottom: 10px;
          margin-bottom: 10px;">
            {{ detailsUser.tel }}
          </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">account_box</i>
            CIN
          </div>
          <div class="content mt20" style="color: gray;
          border-bottom: 1px solid  #E6E6FA; ;
          padding-bottom: 10px;
          margin-bottom: 10px">
            {{ detailsUser.cin }}
          </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">location_on</i>
            Adresse
          </div>
          <div class="content mt20" style="color: gray">
            {{detailsUser.adresse}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
  <div class="card" style="margin-top: 100px;margin-bottom: 36px;">
    <div class="header1">
      <h2>
        DÉTAILS DU SOCIETÉ
      </h2>
    </div>
    <div class="body1">
      <div class="row clearfix">
        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
          <div class="panel-group full-body">
            <div class="panel panel-col-green">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    <i class="material-icons">content_paste</i>
                    Nom de Socité
                  </a>
                </h4>
              </div>
              <div class="panel-collapse">
                <div class="panel-body" style="color: #fff;">
                  {{ detailsUser.RaisonSociale }} </div>
              </div>
            </div>
            <div class="panel panel-col-green">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    <i class="material-icons">poll</i>
                    Departement
                  </a>
                </h4>
              </div>
              <div class="panel-collapse">
                <div class="panel-body" style="color: #fff;">
                  {{ detailsUser.Titre }}
                </div>
              </div>
            </div>
            <div class="panel panel-col-green">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    <i class="material-icons">receipt</i>
                    Role dans le Socité
                  </a>
                </h4>
              </div>
              <div class="panel-collapse">
                <div class="panel-body" style="color: #fff;">
                  {{ detailsUser.role }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card" style="    background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 10px;">
    <div class="header">
      <h2 style="margin: 0;
      font-size: 18px;
      font-weight: normal;
      color: #111;">
        Contrat </h2>
    </div>
    <div class="body" style="font-size: 14px;
    color: #555;
    padding: 20px;">
      <div class="list-group">
        <button class="list-group-item" style="width: 90%;" (click)="ouvrirPdf(Array.url)">
          <span style="font-weight: bold; font-size:15px; color: black; float: left;">Voir Contrat
          </span>
          <span class="badge" style="background-color: transparent; color: #1f91f3; float: right;"><i
              class="material-icons">file_download</i></span>
        </button>
      </div>
    </div>
  </div>
</div>