<mat-card *ngIf="user">
  <h1 class="profil">Your profil Details</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container">
          <img [src]="'http://127.0.0.1:8000/public/'+user.photo" alt="" class="profile-image">
          <br><br>
          <h1 style="margin-left: 450px;">{{ user.nom }} {{ user.prenom }}</h1>
        </div>
        <div class="row">
          <div class="col-md-10 offest-md-1">
            <table class="table text-center">
              <tr>
                <td>cin</td>
                <td>{{ user.cin }}</td>
              </tr>
              <tr>
                <td>Nom</td>
                <td>{{ user.nom }}</td>
              </tr>
              <tr>
                <td>Prenom</td>
                <td>{{ user.prenom }}</td>
              </tr>
              <tr *ngIf="user.tel">
                <td>numero de telephone</td>
                <td>{{ user.tel }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <td>Raison Sociale</td>
                <td>{{ user.RaisonSociale }}</td>
              </tr>
              <tr>
                <td>role</td>
                <td>{{ user.role }}</td>
              </tr>
              <tr>
                <td>departement</td>
                <td>{{ userDetails.Titre }}</td>
              </tr>
              <tr>
                <td>Contrat</td>
                <td>   <button  (click)="ouvrirPdf(Array.url)"  class="button">
                  <span style="font-weight: bold">Voir contrat</span>
              </button></td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <button color="primary" mat-raised-button style="margin-left: 500px;"
      routerLink="/employee/updateProfil/{{ user.id }}">Update</button>
  </mat-card-actions>

</mat-card>
