<div class="col-xs-12 col-sm-3 ">
  <div class="card card-about-me" style="margin-top: 36px">
    <div class="header ml20">
      <h2>DÉTAILS STAGIAIRE</h2>
    </div>
    <div class="body">
      <ul style="list-style: none">
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">person</i>
            Nom
          </div>
          <div class="content mt20" style="color: gray;border-bottom: 1px solid  #E6E6FA;
          padding-bottom: 10px;
          margin-bottom: 10px;">
            {{ Array.Nom }}
          </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">person</i>
            Prénom
          </div>
          <div class="content mt20" style="color: gray;border-bottom: 1px solid  #E6E6FA;
          padding-bottom: 10px;
          margin-bottom: 10px;">
            {{Array.Prenom}} </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">email</i>
            Email
          </div>
          <div class="content mt20" style="color: gray;border-bottom: 1px solid  #E6E6FA;
          padding-bottom: 10px;
          margin-bottom: 10px;">{{ Array.Email }}
          </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">phone</i>
            Numéro de téléphone
          </div>
          <div class="content mt20" style="color: gray;border-bottom: 1px solid  #E6E6FA;
          padding-bottom: 10px;
          margin-bottom: 10px;">
            {{ Array.telephone }}
          </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">account_box</i>
            CIN
          </div>
          <div class="content mt20" style="color: gray;
          border-bottom: 1px solid  #E6E6FA; ;
          padding-bottom: 10px;
          margin-bottom: 10px">
            {{ Array.Cin }}
          </div>
        </li>
        <li>
          <div class="title">
            <i class="material-icons" style="color: white;">school</i>
            École
          </div>
          <div class="content mt20" style="color: gray">
            {{Array.Ecole}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
  <div class="card">
    <div class="header1">
      <h2>
        DÉTAILS DU STAGE
      </h2>
    </div>
    <div class="body1">
      <div class="row clearfix">
        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
          <div class="panel-group full-body">
            <div class="panel panel-col-green">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    <i class="material-icons">content_paste</i>
                    TYPE DE STAGE
                  </a>
                </h4>
              </div>

              <div class="panel-collapse">
                <div class="panel-body" style="color: #fff;">
                  {{ Array.TypeStage }} </div>
              </div>
            </div>
            <div class="panel panel-col-green">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    <i class="material-icons">poll</i>
                    NIVEAU D'ÉTUDE

                  </a>
                </h4>
              </div>
              <div class="panel-collapse">
                <div class="panel-body" style="color: #fff;">
                  {{ Array.NiveauEtude }}
                </div>
              </div>
            </div>
            <div class="panel panel-col-green">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    <i class="material-icons">receipt</i>
                    CLASSE

                  </a>
                </h4>
              </div>
              <div class="panel-collapse">
                <div class="panel-body" style="color: #fff;">
                  {{ Array.class }}
                </div>
              </div>
            </div>
            <div class="panel panel-col-green">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    <i class="material-icons">event</i>
                    DATE DE DÉBUT
                  </a>
                </h4>
              </div>
              <div class="panel-collapse">
                <div class="panel-body" style="color: #fff;">
                  {{Array.DateDebut}} </div>
              </div>
            </div>

            <div class="panel panel-col-green">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    <i class="material-icons">event</i>
                    DATE DE FIN
                  </a>
                </h4>
              </div>
              <div class="panel-collapse">
                <div class="panel-body" style="color: #fff;">
                  {{ Array.DateFin}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
  <div class="card" style="margin-top: 30px;margin-bottom: 20px;">
    <div class="header bg-teal">
      <h2 style="color: #fff !important;">
        DÉTAILS DU PROJET
        <br>
        <small style="line-height: 17px; font-size: 13px;">Sujet : {{ Array.sujet }}</small>

      </h2>
    </div>
    <div class="body" style="font-family: 'Roboto', Arial, Tahoma, sans-serif;">
      {{Array.DescriptionSujet}}

    </div>
  </div>
</div>
