table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 150px;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

input {
  width: 15%;
  margin-top: 79px;
  margin-left: 870px;
}

.All {
  font-weight: bold;
  text-align: center;
}
