<div class="container">
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-6 offset-md-3 mt20">
          <mat-card>
            <br>
            <div class="container text-center">
              <img src="../../../assets/pic.webp" alt=""  style="max-width: 60px;max-height: 100px; border-radius: 50%;">
            </div>
            <h1 class="text-center"> Changer Mot de Passe</h1>
            <br>
            <form #update="ngForm" class="text-center" (ngSubmit)="updatePassword()">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label> Mot de Passe actuel</mat-label>
                <input required type="password" name="currentPassword" required placeholder="Entrez ici ..." matInput
                  [(ngModel)]="currentPassword">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nouveau Mot de passe</mat-label>
                <input required type="password" name="newPassword" required placeholder="Entrez ici ..." matInput
                  [(ngModel)]="newPassword">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label> confiramation de nouveau Mot de passe</mat-label>
                <input required type="password" name="confirmPassword" required placeholder="Entrez ici ..." matInput
                  [(ngModel)]="confirmPassword">
              </mat-form-field>
              <div class="container text-center mb20">
                <button type="submit" mat-raised-button color="primary">
                  <i class="material-icons">save</i>&nbsp;
                  <span>Enrigistrer</span>
                </button>
              </div>
            </form>
          </mat-card>

        </div>
      </div>
    </div>
  </div>
