<mat-card style="width: 90%;">
  <mat-action-list>
    <br>
    <button mat-list-item routerLink="/admin" routerLinkActive="active" >
      <mat-icon mat-list-icon>home</mat-icon> Home
    </button>
    <button mat-list-item routerLink="/admin/user" routerLinkActive="active">
      <mat-icon mat-list-icon>person_add</mat-icon> Ajouter utilisateur
    </button>
    <button mat-list-item routerLink="/admin/departements" routerLinkActive="active">
      <mat-icon mat-list-icon>business</mat-icon> Departement
    </button>
    <button mat-list-item routerLink="/admin/Contrats" routerLinkActive="active">
      <mat-icon mat-list-icon>insert_drive_file</mat-icon> Contrats
    </button>
    <button mat-list-item routerLink="/admin/Clients" routerLinkActive="active">
      <mat-icon mat-list-icon>group_add</mat-icon> Clients
    </button>
    <button mat-list-item routerLink="/admin/projet" routerLinkActive="active">
      <mat-icon mat-list-icon>assignment </mat-icon>Projet
    </button>
    <button mat-list-item routerLink="/admin/stagiaires" routerLinkActive="active">
      <mat-icon mat-list-icon>contacts</mat-icon> stagiaire
    </button>

    <button mat-list-item routerLink="/admin/reunions" routerLinkActive="active">
      <mat-icon mat-list-icon>groups</mat-icon> Réunion
    </button>
    <button mat-list-item routerLink="/admin/congé" routerLinkActive="active">
      <mat-icon mat-list-icon>event_note</mat-icon> Traitement Congés
    </button>


  </mat-action-list>
</mat-card>
