.imgClient {
  max-width: 50px;
  max-height: 100px;
  border-radius: 50%;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 150px;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

input {
  width: 16%;
  margin-top: 79px;
  margin-left: 800px;
}

.All {
  font-weight: bold;
  text-align: center;
}

.buttonx {
  text-decoration: none;
  border: 0;
  /* margin-top: 15px; */
  margin: auto 0;
  color: #337ab7;
}
