<div class="container">
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-6 offset-md-3 mt20">
          <mat-card>
            <div class="container text-center mt10">
              <img src="../../../assets/pic.webp" alt="" style="max-width: 50px;
              max-height: 100px;
              border-radius: 70%;">
            </div>
            <h4 style="margin-left: 20px;color:gray;" class="text-center"> Trouvez votre compte !!!</h4>

            <form class="text-center" LoginForm="ngForm" (ngSubmit)="forgetPassword()">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" name="email" email="true" placeholder="Entrez ici ..." matInput [(ngModel)]="email" required>
              </mat-form-field>

              <div class="container text-center mb20">
                <button type="submit" mat-raised-button color="primary">Recherche</button>
                <button class="ml20" mat-raised-button color="Warn" (click)="close()">Annuler</button>
              </div>
            </form>
          </mat-card>

        </div>
      </div>
    </div>
  </div>
